# Default code owners: every change requires review from the repository owner.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @thanhnt-sm
